<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Kentci.az</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">

</head>
<body>

<header>
    <div class="logo">Kentci.az</div>

    {% if user %}
    <div class="user-area">
        {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}" alt="Profil şəkli">
        {% endif %}
        <span>{{ user.user_name }}</span>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="logout-btn">Çıxış et</button>
        </form>
    </div>
    {% else %}
        <a href="{% url 'login' %}">
            <button class="login-btn">Daxil ol</button>
        </a>
    {% endif %}
</header>

<div class="container">
  <div class="cards">
    {% for elan in elanlar %}
    <div class="card">
      <div class="card-img">
        <img src="{{ elan.shekil.url }}" alt="{{ elan.ad }}">
        <span class="like"><i class="fa-solid fa-heart"></i></span>
      </div>
      <div class="card-info">
        <div class="rating">
           <span>AZ</span> · <span>{{ elan.tarix }}</span>
        </div>
        <h3>{{ elan.ad }}</h3>
        <p>{{ elan.melumat|truncatewords:12 }}</p>
        <div class="price">AZN {{ elan.qiymet }}</div>
      </div>
    </div>
    {% empty %}
      <p style="text-align:center;">Hazırda elan yoxdur.</p>
    {% endfor %}
  </div>
</div>

</body>
</html>
